@charset "ISO-8859-1";

body {
	padding-button: 8px;
}

button {
	padding-left: 16px; 
	display: flex;
	flex-direction: row;
	background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

a:link, a:visited {
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
}

.l1 {
	color: red;
}

.l2 {
	color: blue;
}

.l3 {
	color: green;
}

.l4 {
	color: red;
}

.l5 {
	color: yellow;
}

.l6 {
	color: blue;
}